* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    background-color: #B5F230;
}

.letraMenu {
    color: #0D0D0D;
    text-decoration: none;
}

.carrito {
    color: #0D0D0D;
    align-content: center;
}

.card-img-top {

    width: 250px;
}

.containerCard {
    display: flex;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fondoNegro {
    background-color: #B5F230;
    width: 100%;
}

.letraBlanca {
    color: #0D0D0D;
}

.btnNovo {
    background-color: #B5F230;
}

.btn-counter {
    font-size: 17px;
    border: none;
    background-color: #181818;
    color: white;
    border-radius: 6px;
    padding: 10px;
}

.btn-add {
    font-size: 18px;
    border: none;
    background-color: white;
    color: #181818;
    border-radius: 6px;
    padding: 10px;
    border: 2px solid #181818;
}

.price {
    font-size: 25px;
}

.card {
    border-radius: 30px;
    background: white;
    box-shadow: 2px 2px 8px #bebebe,
                -15px -15px 30px #ffffff;
   }

.btnNuevo {
    width: 15em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 4px 4px 10px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   

   .btnNuevo::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   

   .btnNuevo:hover::before {
    width: 15em;
   }
