* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor {
    background-color:#B5F230;
}

.letraMenu {
    color: #0D0D0D;
}

.carrito {
    color: #0D0D0D;
    align-content: center;
}

.card-img-top {
   
    width: 250px;
}

.containerCard {
    display: flex;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fondoNegro {
    background-color: #B5F230;
    height: 100%;
}

.letraBlanca {
    color: #0D0D0D;
}

.btnNovo {
    background-color: #B5F230;
}

.btn-counter {
    font-size: 17px;
    border: none;
    background-color: #181818;
    color: white;
    border-radius: 6px;
    padding: 10px;
}

.btn-add {
    font-size: 18px;
    border: none;
    background-color: white;
    color: #181818;
    border-radius: 6px;
    padding: 10px;
    border: 2px solid #181818;
}

.price {
    font-size: 25px;
}